.section-main {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(245 244 244);
  margin-top: 4vw;
  height: max-content;
}
.registerform {
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-top: 1vw;

  width: fit-content;
  color: black;
  text-align: left;
  padding: 2vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.inline-div {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
